<?xml version="1.0" encoding="utf-8"?>

<!--
Copyright (c) Pawel Balaga https://xreactor.codeplex.com/
Licensed under MS-PL, See License file or http://opensource.org/licenses/MS-PL
-->

<packages>
  <package id="MoreLinq.Source.MoreEnumerable.MaxBy" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.MinBy" version="1.0.1" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.2" targetFramework="net45" />
</packages>